﻿@model IEnumerable<ProjetCSharp.Models.Livres>

@{
    ViewBag.Title = "Les Livres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des livres</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Auteurs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id = item.id })">@Html.DisplayFor(modelItem => item.titre)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            <a href="@Url.Action("../Auteurs/Details", new { id = item.Auteurs.id })">@Html.DisplayFor(modelItem => item.Auteurs.nomPrenom)</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
