﻿@model ProjetCSharp.Models.Emprunts

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Emprunts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exemplaires.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exemplaires.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fini)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
