﻿@model ProjetCSharp.Models.Emprunts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Emprunts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exemplaires.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exemplaires.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exemplaires.Livres.titre)
        </dt>

        <dd>
            <a href="@Url.Action("../Livres/Details", new { id = Model.Exemplaires.Livres.id })">@Html.DisplayFor(model => model.Exemplaires.Livres.titre)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres)
        </dt>

        <dd>
            <a href="@Url.Action("../Membres/Details", new { id = Model.Membres.id })">@Html.DisplayFor(model => model.Membres.nomPrenom)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fini)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
