﻿@model IEnumerable<ProjetCSharp.Models.Emprunts>

@{
    ViewBag.Title = "Les Emprunts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des emprunts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exemplaires.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exemplaires.Livres.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Membres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fini)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exemplaires.id)
        </td>
        <td>
            <a href="@Url.Action("../Livres/Details", new { id = item.Exemplaires.Livres.id })">@Html.DisplayFor(modelItem => item.Exemplaires.Livres.titre)</a>
        </td>
        <td>
            <a href="@Url.Action("../Membres/Details", new { id = item.Membres.id })">@Html.DisplayFor(modelItem => item.Membres.nomPrenom)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fini)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.id })
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
            @if (item.fini != true)
            {
                @Html.ActionLink("Retour", "Retour", new { id = item.id })
            }
        </td>
    </tr>
}

</table>
