﻿@model ProjetCSharp.Models.Emprunts

@{
    ViewBag.Title = "Retour";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Retour</h2>

<h3>Voulez vous valider un retourde ce livre ?</h3>
<div>
    <h4>Emprunts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exemplaires.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exemplaires.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Membres.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Membres.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fini)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Retour exemplaire" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>