﻿@model ProjetCSharp.Models.Exemplaires

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Exemplaires</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Livres.titre)
        </dt>

        <dd>
            <a href="@Url.Action("../Livres/Details", new { id = Model.Livres.id })">@Html.DisplayFor(model => model.Livres.titre)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Livres.Auteurs)
        </dt>

        <dd>
            <a href="@Url.Action("../Auteurs/Details", new { id = Model.Livres.Auteurs.id })">@Html.DisplayFor(model => model.Livres.Auteurs.nomPrenom)</a>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
