﻿@model IEnumerable<ProjetCSharp.Models.Exemplaires>

@{
    ViewBag.Title = "Les Exemplaires";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liste des exemplaires</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livres.titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Livres.Auteurs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            <a href="@Url.Action("../Livres/Details", new { id = item.Livres.id })">@Html.DisplayFor(modelItem => item.Livres.titre)</a>
        </td>
        <td>
            <a href="@Url.Action("../Auteurs/Details", new { id = item.Livres.Auteurs.id })">@Html.DisplayFor(modelItem => item.Livres.Auteurs.nomPrenom)</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
