﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />


    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/Chart.js"></script>

    <link href="~/Content/site.css" rel="stylesheet/less" />

    @RenderSection("Head", required: false)
</head>
<body onload="ToDoOnLoad()">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">Bibliothèque</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Les Auteurs", "Index", "Auteurs")</li>
                    <li>@Html.ActionLink("Les Livres", "Index", "Livres")</li>
                    <li>@Html.ActionLink("Les Membres", "Index", "Membres")</li>
                    <li>@Html.ActionLink("Les Exemplaires", "Index", "Exemplaires")</li>
                    <li>@Html.ActionLink("Les Emprunts", "Index", "Emprunts")</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container container-fluid">
        <h1 class="titre">@ViewBag.Title</h1>

        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.9.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

</body>
</html>
